ul {
    border: 2px solid;
    background-color: #ccc;
    list-style: none;
    padding: 1em;
}

li {
    border: 1px solid;
    padding: 0em 1em;
    background-color: #eee;
    border-radius: 4px;
    border-color: #999;
    border-width: 1px;
    padding: 1em 1em;
}