<!--<nav>
    <a routerLink="/dashboard">Home</a>
    <a routerLink="/members">Leden</a>
    <a href="#">Foto's</a>
    <a href="#">Uitgelicht</a>
    <a href="#">Hulpmiddelen</a>
    <a href="#">Evenementen</a>
</nav>-->

<ul>
  <li>
      <a routerLink="/dashboard">Home</a>
  </li>
  <li>
      <a routerLink="/members">Leden</a>
  </li>
  <li>
      <a routerLink="/dashboard">Media</a>
  </li>
  <li>
      <a routerLink="/dashboard">Tools</a>
  </li>
  <li>
      <a routerLink="/dashboard">Evenementen</a>
  </li>
</ul>