<div class="main-wrapper">
    <app-navigation-bar></app-navigation-bar>

    <div class='details'>
        <img id="profile-picture" src="../../assets/profile/{{member.getProfilePicture()}}.jpg">
        <ul>
            <li>
                {{ member.getFullName() }}
            </li>
            <li>
                {{ member.dob | date: 'dd MMM yyyy' }} ({{ member.getAge() }} jaar)
            </li>
            <li>
                {{ member.gender }}
            </li>
        </ul>

        <div class="bio">
            <h3>Bio</h3>
            <p>{{ member.bio }}</p>
        </div>
    </div>

</div>