.main-wrapper {
    min-height: 100%;
}

#profile-picture {
    width: 350px;
    margin: 0.8em 0;
}

.details ul {
    background: #2690d4;
    margin: 0;
    padding: 1em 0 ;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.details li {
    list-style: none;
    color: #eaeaea;
}

.bio {
    background: #333;
    margin: 0;
    padding: 1em 0 ;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.bio h3 {
    color: white;
    margin: 0;
    padding: 0;
}

.bio p {
    font-style: italic ;
    text-align: justify;
    color: #eaeaea;
    margin: 0 1em;
    padding: 0;
}