<div class="main-wrapper">
  <header id="showcase" class="grid">
    <div class="bg-image"></div>
    <div class="content-wrap">
      <h1>Welkom bij de Cœur Dur</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, mollitia omnis ex exercitationem vero non recusandae
        at quaerat tempora aspernatur ut quos laudantium quisquam nesciunt odit, aliquid modi corrupti consequatur!</p>
      <a href="dashboard/#section-b" class="btn">Lees Meer</a>
    </div>
  </header>

  <app-navigation-bar></app-navigation-bar>

  <app-birthday></app-birthday>

  <main>
    <section id="section-a" class="grid">
      <div class="content-wrap">
        <h2 class="content-title">Een vriendengroep</h2>
        <div class="conent-text">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero odit harum velit alias esse corporis eligendi
            illo consectetur, ipsa adipisci officia tempora blanditiis consequatur accusantium pariatur culpa ea delectus
            quae?</p>
        </div>
      </div>
    </section>

    <section id="section-b" class="grid">
      <ul>
        <li>
          <div class="card">
            <img src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
            <div class="card-content">
              <h3 class="card-title">Samen eten</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsum quibusdam deleniti obcaecati fugit adipisci
                consequatur reiciendis, odio id praesentium.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <img src="https://images.pexels.com/photos/358416/pexels-photo-358416.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
            <div class="card-content">
              <h3 class="card-title">Vakanties</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsum quibusdam deleniti obcaecati fugit adipisci
                consequatur reiciendis, odio id praesentium.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <img src="https://images.pexels.com/photos/7102/notes-macbook-study-conference.jpg?auto=compress&cs=tinysrgb&h=750&w=1260">
            <div class="card-content">
              <h3 class="card-title">Studie</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsum quibusdam deleniti obcaecati fugit adipisci
                consequatur reiciendis, odio id praesentium.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <img src="https://images.pexels.com/photos/1154189/pexels-photo-1154189.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
            <div class="card-content">
              <h3 class="card-title">Gezelligheid</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsum quibusdam deleniti obcaecati fugit adipisci
                consequatur reiciendis, odio id praesentium.</p>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <div id="section-d" class="grid">
      <div class="content-wrap">
        <h2 class="content-title">Nog wat leuks</h2>
        <div class="conent-text">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero odit harum velit alias esse corporis eligendi
            illo consectetur, ipsa adipisci officia tempora blanditiis consequatur accusantium pariatur culpa ea delectus
            quae?</p>
        </div>
      </div>
    </div>

    <section id="section-c" class="grid">
      <div id="box1" class="box">
        <h2 class="content-title">Contact</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam itaque temporibus illo, autem aliquid perferendis
          dolore similique sit. Odit, perspiciatis.</p>
        <p>contact@domain.com</p>
      </div>

      <div id="box2" class="box">
        <h2 class="content-title">Over de Cœur</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis expedita fuga illo veritatis optio distinctio,
          repudiandae minus placeat, adipisci earum et consequatur porro omnis vero ducimus ipsam. Minima, asperiores cumque?</p>
      </div>
    </section>
  </main>

</div>