.main-wrapper {
  min-height: 100%;
  margin: 0;
  padding:0;
}

.member ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  margin:0;
  padding: 0 2em;
  padding-bottom: 2em;
}

.member li {
  list-style: none;
  grid-column: 2;
  /*max-width: 250px;*/
  width: 95%;
  background: #2690d4;
  padding-bottom: 0.8em;
  margin: 0;
  justify-self: center;
}

.member a {
  text-decoration: none;
  color: #eaeaea;
}

.member img {
  max-width: 100%;
}

@media (min-width: 700px) {

   .member ul {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr  1fr;
    grid-gap: 4em;
    justify-content: start;
    padding: 0 0 2em 0;
  }

  .member li {
    grid-column: auto;
    justify-self: center;
    max-width: 250px;
  }  
}

@media (min-width: 1200px) {

  .member ul {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4em;
    justify-content: start;
    padding: 0 0 2em 0;
  }

  .member li {
    grid-column: auto;
    justify-self: center;
    max-width: 250px;
  }
}
